{{ $dest := .Destination }}
{{ if hasPrefix $dest "/" }}
{{ $dest = strings.TrimPrefix "/" $dest }}
{{ end }}
<div class="group relative my-12">
    <div
        class="absolute -inset-1 bg-gradient-to-r from-accent to-blue-600 rounded-2xl blur opacity-25 group-hover:opacity-75 transition duration-1000 group-hover:duration-200">
    </div>
    <img src="{{ $dest | relURL }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }}
        class="relative w-full max-h-[700px] object-contain mx-auto rounded-2xl shadow-2xl border border-slate-200 bg-white" />
</div>