{{ define "main" }}
{{ partial "hero.html" . }}
{{ partial "research_marquee.html" . }}
{{ partial "about.html" . }}
{{ partial "work.html" . }}
{{ partial "vision_home.html" . }}
{{ partial "opensource.html" . }}
{{ partial "publications.html" . }}
{{ partial "skills.html" . }}
{{ partial "education.html" . }}
{{ partial "projects.html" . }}
{{ partial "blogs.html" . }}
{{ partial "podcasts.html" . }}
{{ partial "twitter.html" . }}
{{ partial "research_visuals.html" . }}
{{ partial "social_cards.html" . }}
{{ partial "newsletter.html" . }}
{{ partial "contact.html" . }}
{{ end }}